<!DOCTYPE html>
<html lang="Pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basquete Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">

</head>
    
<body> 
    <nav class="navbar">
        <h1>Ranking Arcade</h1>
    <ul>
        <li><a href="{{ url_for('desafio') }}">Desafio</a></li>
        <li><a href="{{ url_for('contato') }}">Contato</a></li>
        <li><a href="{{ url_for('rank') }}">Rank</a></li>
        <li><a href="{{ url_for('fale') }}">Fale Conosco</a></li>
    </ul>
</nav>           
    <p class="frase">Mire alto, jogue forte, deixe seu nome no topo</p>

  <div class="ranking-container">

    <!-- RANK 1 -->
    <div class="ranking-box">
        <h2>Top 10 Rank 1v1</h2>
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>V</th>
                    <th>D</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody>
                {% for jogador in rank1v1 %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td data-label="Nome">{{ jogador.nome }}</td>
                    <td data-label="Vitórias">{{ jogador.vitorias }}</td>
                    <td data-label="Derrotas">{{ jogador.derrotas }}</td>
                    <td data-label="Pontos">{{ jogador.pontos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- RANK 2 -->
    <div class="ranking-box">
        <h2>Top 10 Rank 1 Minuto</h2>
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>V</th>
                    <th>D</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody>
                {% for jogador in rank1min %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td data-label="Nome">{{ jogador.nome }}</td>
                    <td data-label="Vitórias">{{ jogador.vitorias }}</td>
                    <td data-label="Derrotas">{{ jogador.derrotas }}</td>
                    <td data-label="Pontos">{{ jogador.pontos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- RANK 3 -->
    <div class="ranking-box">
        <h2>Top 10 Pontos</h2>
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>V</th>
                    <th>D</th>
                    <th>P</th>
                </tr>
            </thead>
            <tbody>
                {% for jogador in rankpontos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td data-label="Nome">{{ jogador.nome }}</td>
                    <td data-label="Vitórias">{{ jogador.vitorias }}</td>
                    <td data-label="Derrotas">{{ jogador.derrotas }}</td>
                    <td data-label="Pontos">{{ jogador.pontos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>



    
</body>
</html>